@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-color: #ffff;
  --swiper-navigation-color: #000;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 8;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper {
  max-width: 100%;
  max-height: 100%;
  width: 20rem;
  height: 40rem;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.swiper-slide:nth-child(1n) {
  background-color: #fda4af;
}

.swiper-slide:nth-child(2n) {
  background-color: #fb7185;
}

.swiper-slide:nth-child(3n) {
  background-color: #f43f5e;
}

.swiper-slide:nth-child(4n) {
  background-color: #e11d48;
}

.swiper-slide:nth-child(5n) {
  background-color: #be123c;
}

.swiper-slide:nth-child(6n) {
  background-color: #9f1239;
}

.swiper-slide:nth-child(7n) {
  background-color: #881337;
}

.swiper-slide:nth-child(8n) {
  background-color: #4c0519;
}

.swiper-slide:nth-child(9n) {
  background-color: #fda4af;
}

.swiper-slide:nth-child(10n) {
  background-color: #fb7185;
}